@import '../common.styl'

.button
  font-size: calc(10px + 2vmin)
  padding: 10px 20px
  border-radius: 4px
  background-color: $lightBlue800
  color: $white
  user-select: none
  cursor: pointer
  text-align: center
  -webkit-tap-highlight-color: transparent
  &:hover
    background-color: $lightBlue700
  &:active
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3)