@import '../common.styl'

$daySize = 13vmin
$monthPadding = 2vmin
$titleFontSize = 6vmin
$daysFontSize = 5vmin
$titleHeight = 12vmin
$daysTitleHeight = 11vmin


.month
  padding: $monthPadding 0
  width: $daySize * 7
  margin: 0 auto

.title
  width: $daySize * 7
  line-height: $titleHeight
  text-align: center
  color: $blueGray800
  font-weight: 300
  font-size: $titleFontSize

.daysTitle
  display: flex

.dayTitle
  width: $daySize
  height: $daysTitleHeight
  text-align: center
  line-height: $daysTitleHeight
  font-size: $daysFontSize
  color: $blueGray300
  font-weight: 300
  &.isWeekend
    color: $deepOrange200

.days
  display: flex
  flex-wrap: wrap
  font-size: $daysFontSize

.day
  position: relative
  box-sizing: border-box
  width: $daySize
  height: $daySize
  color: $blueGray800
  font-weight: 500
  &.isToday
    color: $lightBlue500
  &.isWeekend
    color: $white
    
    &.isToday
      color: $white
    
    .today
      border-color: $lightBlue500

  .weekend
    position: absolute
    box-sizing: border-box
    left: 13%
    top: 13%
    width: 74%
    height: 74%
    border-radius: 100%
    background-color: $green300
  
  .today
    box-sizing: border-box
    position: absolute
    box-sizing: border-box
    left: 12%
    top: 12%
    width: 76%
    height: 76%
    border-radius: 100%
    border: 0.7vmin solid $lightBlue500

  .dayText
    position: relative
    width: $daySize
    font-size: $daysFontSize
    text-align: center
    line-height: $daySize