$daySize = 13vmin
$monthPadding = 2vmin
$titleFontSize = 6vmin
$daysFontSize = 5vmin
$titleHeight = 12vmin
$daysTitleHeight = 11vmin

$blueGray900 = #263238
$blueGray800 = #37474F
$blueGray500 = #607D8B
$blueGray400 = #78909C
$blueGray300 = #90A4AE
$red300 = #E57373
$red600 = #E53935

$deepOrange200 = #FFAB91
$deepOrange500 = #FF5722
$deepOrange700 = #E64A19

$green300 = #81C784
$green500 = #4CAF50
$green700 = #388E3C

$white = #ffffff

.month
  padding: $monthPadding 0
  width: $daySize * 7
  margin: 0 auto

.title
  width: $daySize * 7
  line-height: $titleHeight
  text-align: center
  color: $blueGray800
  font-weight: 300
  font-size: $titleFontSize

.daysTitle
  display: flex

.dayTitle
  width: $daySize
  height: $daysTitleHeight
  text-align: center
  line-height: $daysTitleHeight
  font-size: $daysFontSize
  color: $blueGray300
  font-weight: 300
  &.isWeekend
    color: $deepOrange200

.days
  display: flex
  flex-wrap: wrap
  font-size: $daysFontSize

.day
  position: relative
  width: $daySize
  height: $daySize
  color: $blueGray800
  font-weight: 500
  &.isWeekend
    color: $white

  .weekend
    position: absolute
    box-sizing: border-box
    left: 13%
    top: 13%
    width: 74%
    height: 74%
    border-radius: 100%
    background-color: $green300

  .dayText
    position: relative
    width: $daySize
    font-size: $daysFontSize
    text-align: center
    line-height: $daySize